@font-face {
    font-family:'kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}
.container {
    position: relative;
    height: 100vh; 
}
.background-behind {
    background-image: url('./Image/Moana2-bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 80vh;
    width: 100%; 
    position: relative;
    border-radius: 2rem;
}

.video {
    position: absolute;
    bottom: 175px;
    right: 20px; 
    width: 300px; 
    height: 170px;
    overflow: hidden;
    border: 2px solid white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.video iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
body{
    background-color:rgb(48, 0, 85, 255);
    font-family: kanit;
}
.small-under_background-hehind{
    background-image: url('./Image/Mona2.jpg');
    background-size: cover;
    height: 180px;
    width: 128px;
    position: relative;
    margin-top: 30px;
    margin-left: 300px;
}
.text{
    text-align: center;
    margin-left: 150px;
    color: white;
    white-space: nowrap; 

    font-size: 25px;
}
.text-title{
    font-size: 50px;
}
.text-link{
    font-size: 60px;
    color:white;
    text-decoration: none;
}
.text-link:hover{
    color: yellow ;
}

.Star-rate {
    display: inline; 
    white-space: nowrap; 
    font-size: 20px;
}

.text-season{
    margin-top: 10px;
    color:yellow;
    font-size: 18px;
}

.text-long{
    margin-top: 15px;
    font-size: 20px;

}
.circle-main {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-left: 450px;
}


.circle-main div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 70px;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}


.circle1{
    background-image: url('./Image/Auli\'iCravalho.jpg');
}
.circle2{
    background-image: url('./Image/Dwayne Johnson.jpg');
}
.circle3{
    background-image: url('./Image/Alan Tudyk.jpg');
}
.circle4{
    background-image: url('./Image/Temuera\ Morrison.jpg');
}
@media (max-width: 768px) {
    .circle-main {
        gap: 40px; 
    }
    .circle-main div {
        width: 60px;
        height: 60px;
    }
}

.nameAc {
    color: white;
    display: flex;
    margin-left:  435px;
    gap: 20px;                
    margin-top: 10px;         
    font-size: 13px;          
}

.name1{
    margin-left: 20px;
}
.name2{
    margin-left: 5px;
}
.name3{
    margin-left: 10px;
}
.name4{
    margin-left: 5px;
}
